*	{
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	}

body {
	background-color: #FBFADF;
}

h1 {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: 'Indie Flower', cursive;
}

h2 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

h4 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	background-color: #FFFF9A;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	color: darkblue;
	}

input {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: darkred;
	}

.site_head {
	background-color: #FFFF9A;
}

.box_style {
	border: 0px solid black;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(210,219,255,0.6);
}

.col-md-2 {
	text-align: center;
}

.image-place {
	text-align: center;
	height: 100%;
    line-height: 12em;
}

.bottom_menu {
	align-items: center;
}

.menu_item_name{
	color: darkblue;
	text-align: left;
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
}

.restaurant_name {
	color: darkblue;
	text-align: left;
	font-size: 35px;
	font-family: 'Indie Flower', cursive;
}

.description {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.price {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.message {
	font-family: 'Indie Flower', cursive;
	font-size: 35px;
}

.edit_button {
	font-size: 15px;
}

.col-md-2 {
	text-align: center;
}

.bottom_menu {
	align-items: center;
}