<!DOCTYPE html>
<html>

    <head>
        <title>Delete menu item</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">
        <link src="//normalize.css.googlecode.com/svn/trunk/normalize.css"/>
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container">
        <h1>Are you sure you want to delete {{item.name}}?</h1>

            <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id = item.id)}}" method = 'POST'>

            <input type='submit' value='Delete'>

            </form>

            <a href="{{url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}">Cancel</a>
		</div>
    </body>
</html>