{%extends "base.html"%}
{% block content %}
{% include "header.html" %}
            <div class="row bottom_menu box_style">
                <h1> Edit Menu Item </h1>
            </div>
            <div class="row bottom_menu box_style">

                <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id = item.id)}}" method = 'POST'>

                <p>Name:</p>

                <input type='text' size='30' name='newname' placeholder='{{item.name}}'>
                
                <p>Description:</p>

                <input type='text' size='30' name='description' placeholder='{{item.description}}'>

                <p>Price:</p>

                <input type='text' size='30' name='price' placeholder='{{item.price}}'>

                <p>Course:</p>

                <input type='text' size='30' name='course' placeholder='{{item.course}}'>
                
                    <div class="row bottom_menu box_style">
                        <input type='submit' class="btn btn-success" value='Edit'>
                        <a href="{{url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}" class="btn btn-danger" role="button">Cancel</a>
                    </div>
                </form>
            </div>                
{% endblock %}