<!DOCTYPE html>
<html>

    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">
    </head>
    
    <body>
        <div class="main_shell">
        <h1> Edit Restaurant information: </h1>

            <form action="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}" method = 'POST'>

            <p>Name:</p>

            <input type='text' size='30' name='newname' placeholder='{{restaurant.name}}'>
            
            <p>Description:</p>

            <input type='text' size='100' name='description' placeholder='{{restaurant.description}}'>

            <p>Logo URL:</p>

            <input type='text' size='100' name='price' placeholder='{{restaurant.logo_url}}'>

            <input type='submit' value='Edit'>

            </form>

            <a href="{{url_for('restaurants')}}">Cancel</a>
        </div>
    </body>
</html>