<!DOCTYPE html>

<html>

    <head>
        <title>Menu {{restaurant.name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">
        <link src="//normalize.css.googlecode.com/svn/trunk/normalize.css"/>
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container">
                <h1>{{restaurant.name}}</h1>

                <!--FLASH MESSAGE-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                        <ul class="message">
                        {% for message in messages %}
                          <li><strong>{{message}}</strong></li>
                        {% endfor %}
                        </ul>

                    {% endif %}
                {% endwith %}

            <a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>
            <br>
            <br>

            {% for i in items %}
          
                <div class="menu_item">
                    <div class="image"></div>
                    <div class="info">
                        <div class="menu_item_name">{{i.name}}</div>
                        <div class="price"> {{i.price}} </div>
                        <div class="description"> {{i.description}} </div>
                        <div class="edit_button"><a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a></div>
                        <div class="delete_button"><a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Delete</a></div>
                        <br>
                        <br>
                    </div>
                </div>

            {% endfor %}
        </div>
    </body>

</html>